.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableContainer {
  display: grid;
  place-items: center;
}

table,
tr,
td {
  border: 1px solid black;
  background-color: lightgray;
}
table tr {
  text-align: left;
  column-span: 20;
}

.inputContainer {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.Error {
  color: red;
  font-size: small;
}

.noError {
  color: green;
  font-size: small;
}
